header {
  width: 100%;
  padding: clamp(19px, 1.779vw, 29px) 0 clamp(16px, 1.718vw, 28px);
}

.header {
  display: flex;
  align-items: center;

  grid-gap: clamp(20px, 2.883vw, 47px);
}
.logo {
  display: flex;
  align-items: center;


  image,
  picture {
    display: block;
    width: 100%;
    height: 100%;
  }
}


