header {
  width: 100%;
  padding: clamp(19px, 1.779vw, 29px) 0 clamp(16px, 1.718vw, 28px);
}

.header {
  display: flex;
  align-items: center;

  grid-gap: clamp(20px, 2.883vw, 47px);
}
.logo {
  display: flex;
  align-items: center;

  grid-gap: 3px;
  &__icon {
    width: 100%;

    image,
    picture {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    font-family: var(--font-family2);
    color: var(--color-e) ;

    -webkit-text-stroke: 1px black;
  }
}


