
.index-first {
  padding-top: var(--header-height);
  padding-bottom: 15px;

  &__box {
    position: relative;

    display: flex;
    flex-direction: column;

    grid-gap: clamp(14px, 1.84vw, 30px);

@include mobile {
      &:before {
        animation: swipe 3s 8 alternate !important;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 60px;
      right: 10%;
      z-index: 30;

      width: 32px;
      height: 32px;

      background-image: url(/img/sprite/slide-left-right-icon.svg);
      background-repeat: no-repeat;
      background-size: auto;
      opacity: 0;

      pointer-events: none;
    }
  }
  &__inner {
    display: grid;
    width: 100%;

    grid-gap: clamp(10px, 2.699vw, 44px);
    grid-template-columns: repeat(4, 1fr);

@include laptop {
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
    }

@include small-tablet {
      grid-template-columns: 100%;
    }

@include mobile {
      display: none;
    }  justify-items: end;
  }
}



