.index-second {
  padding-bottom: clamp(12px, 1.472vw, 24px);



  &__box {
    display: flex;
    flex-direction: column;

    grid-gap: 12px;

@include mobile {
      .main-slider {
        display: none;
      }
      .main-top {
        display: none;
      }
    }
  }
}
