
.index-first {
  padding-top: var(--header-height);
  padding-bottom: 15px;

  &__box {
    display: flex;
    flex-direction: column;

    grid-gap: clamp(14px, 1.84vw, 30px);
  }
  &__inner {
    display: grid;
    width: 100%;

    grid-gap: clamp(10px, 2.699vw, 44px);
    grid-template-columns: repeat(4, 1fr);

@include laptop {
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
    }

@include small-tablet {
      grid-template-columns: 100%;
    }

@include mobile {
      display: none;
    }  justify-items: end;
  }
}



