.mobile-menu {
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  z-index: 100;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 576px;
  height: calc(100% - var(--header-height));
  padding: clamp(11px, 1.84vw, 30px) 20px clamp(20px, 1.84vw, 30px);
  overflow-y: auto;

  background-color: var(--bg-a);
  background-image: url(../img/index/back.png);
  transform: translateX(-300%);

  transition: all 0.4s;

  grid-gap: 7px;

@include tablet {
    display: flex;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    transform: translateX(0);
  }

  &__inner {
    display: flex;
    flex-direction: column;

    grid-gap: 10px;


    .main-box__inner {
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }
  }
}
