.single-first {
  padding-top: var(--header-height);
  padding-bottom: clamp(12px, 1.227vw, 20px);
  &__box {
    display: flex;
    flex-direction: column;

    grid-gap: 14px;

@include mobile {
      .management-box {
        display: none;
      }
    }
  }
  &__inner {
    display: grid;
    padding: clamp(7px, 0.92vw, 15px);

    background: var(--bg-a);
    border: 5px solid var(--bg-e);
    border-radius: 10px;

    grid-gap: 7px;
    grid-template-columns: 1fr auto;

@include small-tablet {
      grid-template-columns: 100%;
    }
  }
}
