<header>
  <div class="container">
    <div class="header">
      <div class="header__box" data-btns-parrent>
      <a href="index.html" class="logo">
        <picture>
          <source type='image/webp' srcset='img/index/logo.webp'>
          <img width='261' height='43' src='img/index/logo.png' alt='logo'>
        </picture>
      </a>

      <nav class="header-nav">
        <div class="header-nav__item">
          <button class="header-nav__btn violet-btn" >
          <svg width='20' height='17'>
            <use href='img/sprite/sprite.svg#heart'></use>
          </svg>
          Любимые игры
          <span class="header-nav__amount">1</span>
          </button>
          <div class='favorite-slider header-slider' >
          
            <div class='favorite-slider__container swiper-container'>
              <ul class='header-slider__wrapper swiper-wrapper'>
    
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img1.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img1.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img2.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img2.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img3.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img3.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img4.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img4.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img5.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img5.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img6.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img6.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img7.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img7.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img8.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img8.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img9.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img9.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img10.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img10.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img11.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img11.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img12.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img12.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img13.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img13.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img14.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img14.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img15.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img15.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img8.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img8.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img9.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img9.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img10.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img10.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img11.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img11.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img12.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img12.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img13.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img13.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
                <li class='header-slider__slide swiper-slide'>
                  <a href="#" class="header-slider__square">
                    <div class="header-slider__img">
                      <picture>
                        <source type='image/webp' srcset='img/index/header-slider/img14.webp'>
                        <img width='212' height='114' src='img/index/header-slider/img14.png' alt='image'>
                      </picture>
                    </div>
                  </a>
                </li>
              </ul>
              <button class='favorite-slider__next header-slider__btn'>
                <svg width='13' height='20'>
                  <use href='img/sprite/sprite.svg#arrow-r'></use>
                </svg>
              </button>
              <button class='favorite-slider__prev header-slider__btn'>
                <svg width='13' height='20'>
                  <use href='img/sprite/sprite.svg#arrow-r'></use>
                </svg>
              </button>
            </div>
           
          </div>
        </div>
        
        <div class="header-nav__item">
          <button class="header-nav__btn yellow-btn" >
          <svg width='20' height='17'>
            <use href='img/sprite/sprite.svg#time'></use>
          </svg>
          История
          <span class="header-nav__amount">15</span>
        </button>
        <div class='header-slider' >
          
          <div class='header-slider__container swiper-container'>
            <ul class='header-slider__wrapper swiper-wrapper'>
  
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img1.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img1.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img2.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img2.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img3.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img3.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img4.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img4.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img5.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img5.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img6.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img6.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img7.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img7.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img8.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img8.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img9.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img9.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img10.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img10.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img11.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img11.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img12.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img12.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img13.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img13.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img14.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img14.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img15.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img15.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img8.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img8.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img9.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img9.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img10.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img10.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img11.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img11.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img12.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img12.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img13.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img13.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
              <li class='header-slider__slide swiper-slide'>
                <a href="#" class="header-slider__square">
                  <div class="header-slider__img">
                    <picture>
                      <source type='image/webp' srcset='img/index/header-slider/img14.webp'>
                      <img width='212' height='114' src='img/index/header-slider/img14.png' alt='image'>
                    </picture>
                  </div>
                </a>
              </li>
            </ul>
            <button class='header-slider__next header-slider__btn'>
              <svg width='13' height='20'>
                <use href='img/sprite/sprite.svg#arrow-r'></use>
              </svg>
            </button>
            <button class='header-slider__prev header-slider__btn'>
              <svg width='13' height='20'>
                <use href='img/sprite/sprite.svg#arrow-r'></use>
              </svg>
            </button>
          </div>
         
        </div>
        </div>
        
        
        <form class="header-nav__form">
          <label for="" class="header-nav__label">
            <input class="header-nav__input" type="text"
              placeholder="Поиск игр...">
          </label>
          <button class="header-nav__icon" type="submit">
            <svg width='14' height='15'>
              <use href='img/sprite/sprite.svg#search'></use>
            </svg>
          </button>
        </form>
      </nav>
      

      
</div>
    </div>
  </div>
</header>