<header>
  <div class="container">
    <div class="header">
      <a href="index.html" class="logo">
        <picture>
          <source type='image/webp' srcset='img/index/logo.webp'>
          <img width='261' height='43' src='img/index/logo.png' alt='logo'>
        </picture>
      </a>

      <nav class="header-nav">
        <button class="header-nav__btn violet-btn">
          <svg width='20' height='17'>
            <use href='img/sprite/sprite.svg#heart'></use>
          </svg>
          Любимые игры
          <span class="header-nav__amount">1</span>
        </button>
        <button class="header-nav__btn yellow-btn">
          <svg width='20' height='17'>
            <use href='img/sprite/sprite.svg#time'></use>
          </svg>
          История
          <span class="header-nav__amount">15</span>
        </button>

        <form class="header-nav__form">
          <label for="" class="header-nav__label">
            <input class="header-nav__input" type="text"
              placeholder="Поиск игр...">
          </label>
          <button class="header-nav__icon" type="submit">
            <svg width='14' height='15'>
              <use href='img/sprite/sprite.svg#search'></use>
            </svg>
          </button>
        </form>
      </nav>
    </div>
  </div>
</header>