/* stylelint-disable */

@mixin burger {
  position: relative;

  width: var(--burger-width);
  height: var(--burger-height);

  color: #000000;

  cursor: pointer;

  --burger-height: 15px;
  --burger-line-height: 2px;
  --burger-width: 15px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;

    width: 15px !important;
    height: var(--burger-line-height);

    background-color: currentColor;
    transform: translateX(-50%);

    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 10px;
  }

  .burger__line {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 15px;
    height: var(--burger-line-height);

    background-color: currentColor;
    transform: translate(-50%, -50%);

    transition: transform 0.3s ease-in-out;
  }

  &.active {
    &::before {
      top: 50%;

      width: 19px !important;

      transform: translate(-50%, -50%) rotate(45deg);

      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;

      width: 19px !important;

      transform: translate(-50%, -50%) rotate(-45deg);

      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);

      transition: transform 0.3s ease-in-out;
    }
  }
}
