.footer-nav {
  display: flex;
  align-items: center;

  grid-gap: clamp(3px, 0.92vw, 15px);

  &__link {
    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: clamp(13px, 0.92vw, 15px);
    line-height: 120%;
    font-family: var(--font-family1);
    color: var(--color-a);

@include small-tablet {
      &:last-child {
        display: none;
      }
    }

    &:not(:first-child) {
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(clamp(3px, 0.92vw, 15px) / 2 * -1);

        width: 1.5px;
        height: 70%;

        background-color: var(--bg-a);
        transform: translateY(-50%);
      }
    }
  }
}
