.games-card {
  display: grid;
  align-items: center;
  min-width: 124px;
//   max-height: 30px;
  margin: 10px 0;
  margin-right: 10px;

  background-color: var(--color-a);
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);

  grid-template-columns: 30px 1fr;
  &__name {
    padding: 9px 6px ;

    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family: var(--font-family1);
    text-align: center;
    color: var(--color-b);
    white-space: nowrap;
  }
  &__img {
    max-height: 30px;

    border-radius: 10px 0 0 10px;

    img,
    picture {
      width: 100%;
      height: 100%;
    }
  }
}
