.games-box {
  display: grid;

  grid-gap: clamp(19px, 2.025vw, 33px);
  grid-template-columns: repeat(5, 1fr);

  &__card {
    position: relative;

    max-height: 150px;

    border-radius: 10px;
    filter: drop-shadow(7px 5px 4px rgba(0, 0, 0, 0.25));
  }

  &__name {
    position: absolute;
    bottom: -1px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    font-family: var(--font-family);
    color: var(--color-a);

    background: var(--bg-n);
    border-radius: 0 0 10px 10px;
  }
}
