.games-card {
  display: grid;
  align-items: center;
  min-width: 124px;
  margin: 10px 0;
  margin-right: 10px;

  background-color: var(--color-a);
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);

  grid-template-columns: minmax(17px,30px) 1fr;

@include small-tablet {
    min-width: initial;
  }
  &__name {
    padding: clamp(7px, 0.552vw, 9px) clamp(4px, 0.368vw, 6px);

    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family: var(--font-family1);
    text-align: center;
    color: var(--color-b);
    white-space: nowrap;
  }
  &__img {
    width: 100%;
    height: 100%;

    border-radius: 10px 0 0 10px;

    img,
    picture {
      height: 100%;

      border-radius: 10px 0 0 10px;
    }
  }
}
