.main-top {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 49px;
  padding-bottom: 10px;
  &--blue-line {
    &::before {
      background-color: var(--color-w) !important;
    }
  }
  &--pink-line {
    &::before {
      background-color: var(--color-t) !important;
    }
  }
  &--orange-line {
    &::before {
      background-color: var(--color-i) !important;
    }
  }

  &--yellow-line {
    &::before {
      background-color: var(--color-y) !important;
    }
  }


  &__title {
    position: relative;

    padding: 14px 0 14px 22px;

    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 0.982vw, 16px);
    line-height: 130%;
    font-family: var(--font-family);
    color: var(--color-b);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 5px;

      background-color: var(--bg-f);
      border-radius: 6px;
    }
  }
}
