.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;

  grid-gap: 5px;

@include tablet {
    grid-gap: 15px;
  }

  &__inner {
    display: grid;
    max-width: 270px;

    grid-gap: 8px 10px;
    grid-template-columns: repeat(4, 1fr);

@include laptop {
      max-width: 100%;

      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }

@include tablet {
      max-width: 100%;

      justify-items: center;
    }
  }
  &__item {
    width: 60px;
    height: 60px;

    color: var(--color-p);

@include fakeOutLine(13px, -3px,relative,transparent);

@include tablet {
      width: 100%;
      height: 100%;
    }

    &--blue {
      color: var(--color-w);
    }
    &--pink {
      color: var(--color-t);
    }
    &--orange {
      color: var(--color-i);
    }
    &--yellow {
      color: var(--color-g);
    }
    &--red {
      color: var(--color-l);
    }
    &--mode {
      color: var(--color-m);
    }
  }
  &__img {
    width: 100%;
    height: 100%;

    border-radius: 10px;

    transition: all 0.4s;

@include big-desktop {
      &:not(:nth-child(-n+16)) {
        display: none;
      }
    }

@include small-tablet {
      &:not(:nth-child(-n+16)) {
        display: flex;
      }
    }

    &:hover {
      outline: solid 3px var(--color-p);
    }
    img,
    picture {
      display: block;
      width: 100%;
      height: 100%;

      border-radius: 10px;
    }
  }

  &--six-row {
    .main-box__inner {
      max-width: 410px;

      grid-template-columns: repeat(6, 1fr);

@include big-desktop {
        grid-template-columns: repeat(4, 1fr);
      }

@include laptop {
        max-width: 100%;

        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      }
    }
  }
}
