.main-top {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 49px;
  padding-bottom: 10px;
  &--blue-line {
    &::before {
      background-color: var(--color-w) !important;
    }
  }
  &--pink-line {
    &::before {
      background-color: var(--color-t) !important;
    }
  }
  &--orange-line {
    &::before {
      background-color: var(--color-i) !important;
    }
  }

  &--yellow-line {
    &::before {
      background-color: var(--color-y) !important;
    }
  }



  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 40px;

    background-color: var(--bg-f);
    border-radius: 6px;
  }
  &__title {
    padding-left: 22px;

    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 0.982vw, 16px);
    line-height: 130%;
    font-family: var(--font-family);
    color: var(--color-b);
  }
}
