.main-game {
  display: grid;
  padding-top: 16px;
  overflow: hidden;

  grid-gap: clamp(10px, 2.147vw, 35px);
  grid-template-columns: auto 1fr;

@include small-tablet {
    padding: 0;

    grid-template-columns: 100%;
  }

  &__box {
    display: flex;
    flex-direction: column;
    max-height: var(--game-height);
    padding: 0 5px;
    overflow: auto;

    grid-gap: 25px;

@include laptop {
      .main-box__inner {
        grid-template-columns: repeat(3, 1fr);
      }
    }

@include small-tablet {
      flex-direction: row;

      .main-box {
        padding: 5px 0;
        &__inner {
          grid-auto-flow: column;
          grid-template-rows: repeat(2, auto);
        }
        &__img {
          width: 60px;
        }
      }
    }

@include mobile {
      .main-box {
        width: initial;
      }
      .main-top {
        justify-content: flex-start;
        &__title {
          width: initial;
        }
      }
    }

    .main-box {
      grid-gap: 11px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__inner {
    position: relative;

    width: 100%;
    height: fit-content;
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: clamp(5px, 0.613vw, 10px) clamp(21px, 5.89vw, 97px);

    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.963vw, 32px);
    line-height: 125%;
    font-family: var(--font-family4);
    color: var(--color-o);

    background: var(--bg-a);
    border-radius: 10px;
    outline: 11px solid var(--color-o);
    transform: translate(-50%, -50%);

    transition: all 0.4s linear;

    will-change: transform;

@include mobile {
      font-family: var(--font-family);
      color: var(--color-b);

      border-radius: 39px;
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
