.main-game {
  position: relative;

  display: grid;
  padding-top: 16px;
  overflow: hidden;

  grid-gap: clamp(10px, 2.147vw, 35px);
  grid-template-columns: auto 1fr;

@include small-tablet {
    margin: 0 calc(var(--container-offset) * -1);
    padding: 0 var(--container-offset);

    grid-template-columns: 100%;
  }

@include small-tablet {
    &:before {
      animation: swipe 3s 8 alternate !important;
    }
  }

@include mobile {
    &:before {
      left: 75% !important;
    }
  }

  @keyframes swipe {
    from {
      transform: translateX(50px);
      opacity: 0.8;
    }

    to {
      transform: translateX(0);
      opacity: 0.8;
    }
  }

  @keyframes swipeTop {
    from {
      transform: translateY(8px);
      opacity: 0.8;
    }

    to {
      transform: translateY(0);
      opacity: 0.8;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 190px;
    left: 88%;
    z-index: 30;

    width: 32px;
    height: 32px;

    background-image: url(/img/sprite/slide-left-right-icon.svg);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0;

    pointer-events: none;
  }

  &__box {
    position: relative;

    display: flex;
    flex-direction: column;
    max-height: var(--game-height);
    padding: 0 5px;
    overflow: auto;

    grid-gap: 25px;

@include laptop {
      &:after {
        top: 6% !important;
      }
      .main-box__inner {
        grid-template-columns: repeat(3, 1fr);
      }
    }

@include small-tablet {
      flex-direction: row;
      width: calc(100% + (var(--container-offset) * 2));
      margin: 0 calc(var(--container-offset) * -1);
      padding: 0 var(--container-offset);

      .main-box {
        padding: 5px 0;
        &__inner {
          grid-auto-flow: column;
          grid-template-rows: repeat(2, auto);
        }
        &__img {
          width: 60px;
        }
      }
    }

@include mobile {
      &:before {
        left: 70% !important;
      }
      .main-box {
        width: initial;
      }
      .main-top {
        justify-content: flex-start;
        &__title {
          width: initial;
        }
      }
    }

@include for-small-tablet {
      &:after {
        content: "";
        position: absolute;
        top: 1%;
        right: 0;
        z-index: 30;

        width: 40px;
        height: 40px;

        background-image: url(/img/sprite/slide-top-bottom-icon.svg);
        background-repeat: no-repeat;
        background-size: auto;
        opacity: 0;

        animation: swipeTop 1s 16 alternate !important;
      }
    }

    &:hover {
      &::before {
        visibility: hidden;
        opacity: 0;
      }
    }




    .main-box {
      grid-gap: 11px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__inner {
    position: relative;

    width: 100%;
    height: fit-content;
  }
  &__btn {
    top: 50%;
    left: 50%;
    z-index: 1;

    padding: clamp(5px, 0.613vw, 10px) clamp(21px, 5.89vw, 97px);

    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.963vw, 32px);
    line-height: 125%;
    font-family: var(--font-family4);
    color: var(--color-o);

    background: var(--bg-a);
    border-radius: 10px;
    transform: translate(-50%, -50%);

    transition: all 0.4s linear;

    will-change: transform;

@include fakeOutLine(13px, -11px,absolute,var(--bg-a));

@include mobile {
      font-family: var(--font-family);
      &:before {
        border-radius: 39px;
      }
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
