.similar-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 114px 26px;

  grid-gap: 13px;
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 1.227vw, 20px);
    line-height: 125%;
    font-family: var(--font-family);
    color: var(--color-v);
  }

  &__list {
    display: grid;

    grid-gap: 10px 39px;
    grid-template-columns: repeat(9, 1fr);
  }
}
