.single-games {
  padding: 22px 114px 7px;

  background: var(--bg-o);
  border-radius: 10px;
  box-shadow: 7px 5px 4px rgb(0 0 0 / 25%);

  grid-gap: 18px;
  &__list {
    padding-bottom: 9px;
  }
  &__title {
    display: flex;
    align-items: center;

    grid-gap: clamp(6px, 1.104vw, 18px);

    svg {
      fill: var(--bg-k);
    }
  }
}
