.single-games {
  background: var(--bg-o);
  border-radius: 10px;
  box-shadow: 7px 5px 4px rgb(0 0 0 / 25%);

  grid-gap: 18px;

@include mobile {
    .games-bottom {
      display: none;
    }
  }

  &__list {
    padding: 9px 0;

@include mobile {
      overflow: auto;

      grid-auto-flow: column;
      grid-template-rows: auto;
      ::-webkit-progress-bar {
        display: none;
      }
    }
  }
  &__title {
    display: flex;
    align-items: center;

    grid-gap: clamp(6px, 1.104vw, 18px);

    svg {
      fill: var(--bg-k);
    }
  }
}
