.single-slider {
  &__container {
    overflow: hidden;

    border-radius: 15px;

@include small-tablet {
      border-radius: 17px;
    }
  }
  &__btn {
    position: absolute;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;

    background-color: var(--bg-r);

@include small-tablet {
      width: 40px;
    }

    svg {
      @include small-tablet {
        width: 45%;
        height: auto;
      }
    }
  }

  &__prev {
    top: 5px;
    bottom: 5px;
    left: 0;

    border-radius: 10px 0 0 10px;
    svg {
      transform: scaleX(-1);
    }
    &.swiper-button-disabled {
      opacity: 0;
    }
  }
  &__next {
    top: 5px;
    right: 0;
    bottom: 5px;

    border-radius: 0 10px 10px 0;
  }
}
