.violet-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  max-height: 42px;
  padding: 12px 23px 13px 11px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-b);

  background-color: var(--bg-c);
  border-radius: 15px;
  outline: solid 5px transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  transition: all 0.4s;

  grid-gap: 11px;
  &:hover {
    outline: solid 5px var(--color-d);
  }
}

.yellow-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  max-height: 42px;
  padding: 12px 20px 13px 11px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-b);

  background-color: var(--bg-g);
  border-radius: 15px;
  outline: solid 5px transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  transition: all 0.4s;

  grid-gap: 11px;
  &:hover {
    outline: solid 5px var(--color-d);
  }
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  font-family: var(--font-family);
  color: var(--color-b);

  background-color: var(--color-f);
  border-radius: 10px;
  outline: solid 5px transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  transition: all 0.4s;

  &:hover {
    outline: solid 5px var(--color-d);
  }
  &--yellow {
    background-color: var(--color-g);
  }
  &--aqua {
    background-color: var(--color-h);
  }
  &--orange {
    background-color: var(--color-i);
  }
  &--pink {
    padding: 11px 31px;

    background-color: var(--color-j);
  }
  &--green {
    background-color: var(--color-k);
  }
  &--red {
    background-color: var(--color-l);
  }
  &--blue {
    background-color: var(--color-m);
  }
  &--violet {
    background-color: var(--color-r);
  }
}





.lift {
  position: fixed;
  right: 5.5%;
  bottom: 5.5%;
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(37px, 4.785vw, 78px);
  height: clamp(37px, 4.785vw, 78px);

  background-color: var(--bg-e);
  border-radius: 50%;
  outline: solid 5px var(--color-u);
  transform: translateX(250%);

  transition: all 0.4s;

  svg {
    transition: all 0.4s;

    fill: var(--color-u);
  }

  &:hover {
    outline: solid 5px var(--color-i);
    svg {
      fill: var(--color-i);
    }
  }
}

.lift.show {
  transform: translateX(0);
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}
