:root {
  --body-bg:#ffffff;



  --content-width: 1370px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));


  --font-family: "Aqum-two", sans-serif; // var(--font-family);
  --font-family1: "Roboto", sans-serif; // var(--font-family1);
  --font-family2: "Peace-Sans", sans-serif; // var(--font-family2);
  --font-family3: "Montserrat", sans-serif; // var(--font-family3);
  --font-family4: "Airfool", sans-serif; // var(--font-family4);

 
  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b:  #000000; // var(--color-b);
  --color-c: #A149FA; // var(--color-c);
  --color-d: #FF0000; // var(--color-d);
  --color-e: #FFDF58; // var(--color-e);
  --color-f: #C1FFD7; // var(--color-f);
  --color-g: #FCF69C; // var(--color-g);
  --color-h: #56BBF1; // var(--color-h);
  --color-i:  #FFAB76; // var(--color-i);
  --color-j:  #FF6FB5; // var(--color-j);
  --color-k: #77E4D4; // var(--color-k);
  --color-l: #FF4848; // var(--color-l);
  --color-m: #4F76F2; // var(--color-m);
  --color-r: #AC66CC; // var(--color-r);
  --color-p: #0DAC95; // var(--color-p);
  --color-w: #56BBF1; // var(--color-w);
  --color-t: #FF6FB5; // var(--color-t);
  --color-y: #FCF69C; // var(--color-y);
  --color-u: #F9C50C; // var(--color-u);


  // bg color
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #A149FA; // var(--bg-c);
  --bg-g:#FFD93D;// var(--bg-g);
  --bg-d: #FF0000; // var(--bg-d);
  --bg-e: #C1EFFF; // var(--bg-e);
  --bg-f: #77E4D4; // var(--bg-f);
  --bg-h: #F9C50C; // var(--bg-h);
  --bg-n:  rgba(0, 0, 0, 0.5); // var(--bg-n);
  --bg-m:  rgba(0, 0, 0, 0.7); // var(--bg-m);
  --bg-r: rgba(10, 9, 9, 0.7); // var(--bg-r);
  --bg-i:  #8A88F4; // var(--bg-i);
  --bg-o:   rgba(255, 255, 255, 0.5); // var(--bg-o);
  --bg-p:  rgba(217, 217, 217, 0.6); // var(--bg-p);
  --bg-l:  rgba(217, 217, 217, 0.5); // var(--bg-l);
  
 



  --bg-header: #000000; // var(--bg-header);
  --bg-header1: rgba(0, 0, 0, 0.6); // var(--bg-header1);
  --svg-fill: #0079C5;// var(--svg-fill);
  --bg-index-first: #0C1A36; // var(--bg-index-first);
  --bg-index-partners: #0C1A36; // var(--bg-index-partners);
  --bg-btn: rgba(238, 85, 20, .1); // var(--bg-btn);
  --bg-btn2: rgba(238, 85, 20, 0.918); // var(--bg-btn2);



  //hover
  --svg-fill-hover:#E7E04D;// var(--svg-fill-hover);
  --btn-hover: rgba(238, 85, 20, .1); // var(--btn-hover);

  //border color
  --border-a: rgba(255, 255, 255, 0.4); // var(--border-a);
  --border-b: #F17B7B; // var(--border-b);
  --border-c: #a6a4a4; // var(--border-c);
}
